/*      =================================================================
        Gallery styles
        =================================================================       */

/*      -----------------------------------------------------------------
        JavaScript-disabled/enabled styles
        -----------------------------------------------------------------       */

        .gallery { position: relative; }
        .gallery .controls { display: none; }

        .gallery.javascript .controls { display: block; }
        .gallery.javascript .pager { display: none; }

/*      -----------------------------------------------------------------
        jQuery Tools : Scrollable
        -----------------------------------------------------------------       */

/*      Required settings                                                       */
        .gallery.javascript .scrollable {
            width: 500px;
            height: 75px;
            margin: 0 30px;
            overflow: hidden;
            position: relative;
            }

/*      Scrollable items list                                                   */
        .gallery.javascript .scrollable .items {
            clear: both;
            width: 20000em;
            position: absolute;
            }

/*      Single scrollable item                                                  */
        .gallery.javascript .scrollable .item {
            float: left;
            width: 75px;
            }

/*      -----------------------------------------------------------------
        Previous/Next Page Controls
        -----------------------------------------------------------------       */

        .gallery .controls {
            height: 75px;
            padding: 10px;
            margin: 10px 0;
            position: relative;
            background-color: #eee;
            border-bottom: #bbb 1px solid;
            }

        .gallery .prevPage,
        .gallery .nextPage {
            margin: 0;
            width: 20px;
            height: 0px;
            display: block;
            cursor: pointer;
            overflow: hidden;
            padding-top: 75px;
            position: absolute;
            text-decoration: none;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: 0 50%;
            }

        .gallery .prevPage {
            left: 10px;
            background-image: url('../images/site/prev.gif');
        }

        .gallery .nextPage {
            right: 10px;
            background-image: url('../images/site/next.gif');
        }

        .gallery .prevPage:hover,
        .gallery .nextPage:hover {
            background-color: #3795ed;
            background-position: -20px 50%;
            }

/*      -----------------------------------------------------------------
        Previous/Next Item Controls
        -----------------------------------------------------------------       */

        .gallery .current { position: relative; }

        .gallery .prevItem,
        .gallery .nextItem {
            z-index: 4;
            width: 25%;
            height: 100%;
            color: #fff;
            display: block;
            cursor: pointer;
            font-weight: bold;
            text-decoration: none;
            background-color: transparent;
            }

        .gallery .prevItem {
            position: absolute;
            top: 0; left: 0;
            }

        .gallery .nextItem {
            position: absolute;
            top: 0; right: 0;
            text-align: right;
            }

        .gallery .prevItem span,
        .gallery .nextItem span {
            width: 20px;
            height: 100%;
            display: block;
            background-color: #f4f4f4;
            background-repeat: no-repeat;
            background-position: -20px 50%;
            }

        .gallery .prevItem span {
            float: left;
            background-image: url('../images/site/prev.gif');
            }

        .gallery .nextItem span {
            float: right;
            background-image: url('../images/site/next.gif');
            }

        .gallery .prevItem:hover span,
        .gallery .nextItem:hover span { background-color: #3795ed; }

/*      -----------------------------------------------------------------
        Item list styles
        -----------------------------------------------------------------       */

        .gallery .items {
            margin: 0;
            padding: 0;
            list-style: none;
            }

        .gallery .item {
            float: left;
            height: 75px;
            width: 75px;
            cursor: pointer;
            overflow: hidden;
            margin-right: 10px;
            position: relative;
            background-color: #fff;
            background-image: url('../images/site/loading.gif');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            }

        .gallery .item span {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            }

        .gallery .item span:hover,
        .gallery .active span {
            width: 71px;
            height: 71px;
            border: #eee 2px solid;
            }

        .gallery .active span {
            background-color: transparent;
            background-image: url('../images/site/gal-sel.gif');
            background-repeat: no-repeat;
            background-position: 50% 0;
            }

/*      -----------------------------------------------------------------
        Current Item styles
        -----------------------------------------------------------------       */

        .gallery .current {
            text-align: center;
            position: relative;
            background-color: #fff;
            }

        .gallery #image_wrap {
            margin: 0 auto;
            background-color: #eee;
            background-image: url('../images/site/loading.gif');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            }